# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Excel temp files
~$*.xlsx



# Optional: local databases
*.db